bin/tmp
bin/data/font
bin/data/ro.db
bin/perfontain*

utils/deps
utils/release-maker

libs
.dub

source/perfontain/opengl/functions.d
source/perfontain/shader/grammar.d
source/rocl/network/packets.d

utils/opengl/gen*
utils/packets/gen*
utils/shaders/gen*

aesir.json
start.bat
atlas.png
dub.selections.json

*.grf
*.sublime-workspace
