/bin/tmp/
/bin/perfontain*

/source/rocl/network/packets.d
/source/perfontain/shader/grammar.d
/source/perfontain/opengl/functions.d

/libs/

/utils/gui/gen*
/utils/opengl/gen*
/utils/packets/gen*
/utils/shaders/gen*

/bin/start.bat
/bin/atlas.png
/bin/aesir.json

.dub/
dub.selections.json

*.grf
*.sublime-workspace
